body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  background-color: #ffff99;
  overflow-x: hidden;
}
#welcome-section {
  margin-top: -100px;
  height: 100vh;
  background-color: #36364b;
  z-index: -1;
}

#image {
  position: absolute;
  left: 5px;
  top: 0;
  z-index: 0;
}
#decorative {
  font-size: 60px;
  position: relative;
  top: 10%;
  background-color: transparent;
  left: 5%;
  z-index: 1;
}
hr {
  border: 10px solid #36364b;
}
#profile-links {
  position: absolute;
  top: 320px;
  right: 0;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  z-index: 2;
}

#profile-background {
  position: absolute;
  top: 280px;
  right: 0;
  background-color: #ffff99;
  border-radius: 50%;
  min-width: 350px;
  padding-top: 350px;
  z-index: 1;

}
h2 {
  font-family: "Raleway", sans-serif;
  color: #e60000;
}
h3 {
  font-family: "Raleway", sans-serif;
  color: #e60000;
  position: relative;
  left: 25%;
}
a {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 5px;
  text-align: center;
}
a:hover {
  color: #e60000;
}

.project {
  box-shadow: 1px 1px 3px black;
  margin: 0px;
  background-color: white;
}
#projects {
  width: 75%;
  margin: auto;
}
#projects-div {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
#about {
  font-family: "Raleway", sans-serif;
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: 850px) {
  #projects-div {
    grid-template-columns: 50% 50%
  }
  #projects {
    width: 100%;
  }
  #about {
    width: 100%;
  }
}

@media only screen and (max-width: 414px) {
  #projects-div {
    grid-template-columns: 100%
  }
}
